* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

/* Navigation Bar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0px 16px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.menu {
    font-size: 24px;
    padding: 0px 16px 0px 16px;
    justify-content: center;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
}
input {
    padding-left: 15px;
    border: 1px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
.search {
    border: 1px solid;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
.mic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-left: 16px;
}

.profile > button {
    border: 1px solid;
    border-radius: 20px;
    gap: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

/* Page container below search bar */
.page-container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 74px;
    padding: 16px;
}

li {
    list-style: none;
    justify-content: center;
    font-size: smaller;
}
.sidebar-icon {
    width: 24px;
    height: 24px;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 24px;
    gap: 24px;
}

/* Selector */
.tags-container {
    display: flex ;      
    flex-direction: row;             
    overflow-x: auto;
    width: 100%;
    gap: 12px;   
    scrollbar-width: none;
}

.tags-container button {
    height: 2rem;
    padding: 0px 10px;
    border-radius: 0.5rem;
    border: none;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1200px;
}

.video-card {
   display: flex;
   flex-direction: column;
   gap: 12px;
}

.video-thumbnail {
    width: 100%;               
    aspect-ratio: 16 / 9;      
    object-fit: cover;
    border-radius: 12px;
}

.video-info {
    grid-auto-flow: column;

}
.channel-profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.shorts-icon {
    width: 24px;
    height: 24px;
}
