* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navigation Bar */
.navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 56px;
    padding: 0px 16px;
    background-color: #0f0f0f;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.logo p {
    color: #aaaaaa;
    font-size: 0.75rem;
}
.menu-icon {
    display: flex;
    flex-direction: row;
    padding: 0px 16px 0px 16px;
    justify-content: center;
    color: #f1f1f1;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: sticky;
}

.search-container {
    display: flex;
    align-items: center;
    border: none;
    background-color: rgba(18, 18, 18, 1);
}

input {
    padding-left: 15px;
    border: 1px solid;
    border-color: hsl(0, 0%, 18.82%);
    border-right: none;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgba(18, 18, 18, 1);
    color: #f1f1f1;
}

.search {
    border: 1px solid;
    border-color: hsl(0, 0%, 18.82%);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: rgba(39, 38, 38, 1);
    color: #f1f1f1;
}
.mic {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(39, 38, 38, 1);
    color: #f1f1f1;
    border-radius: 50%;
}

.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.profile button {
    color: rgba(62, 166, 255, 1);
    background-color: rgba(18, 18, 18, 1);
    border-color: rgb(44, 44, 44);
    border: 1px solid;
    border-radius: 20px;
    gap: 3px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile .vert {
    color: #f1f1f1;
}

/* Page container below search bar */
.page-container {
    display: flex;
    width: 100%;
}

/* Sidebar */
.sidebar ul {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 30px;
    list-style: none;
    padding: 10px;
    margin: 0;
}
aside {
    background-color: #0f0f0f; 
    color: #f1f1f1;
}

.sidebar li {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

/* Main Content */
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    padding: 24px;
    gap: 24px;
    background-color: #0f0f0f;
}

/* Selector */
.tags-container {
    display: flex ;      
    flex-direction: row;             
    overflow-x: auto;
    width: 100%;
    gap: 12px;
    /* font-size: 0.75rem;    */
    scrollbar-width: none;
}

.tags-container button {
    height: 2rem;
    padding: 0px 10px;
    border-radius: 0.5rem;
    border: none;
}

/* Video grid section */
.video-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    gap: 16px;
    width: 100%;
    max-width: 1200px;
}

.video-card a {
   color: #0f0f0f;
   text-decoration: none;
}

h3 {
    font-size: 1.1rem;
}

.video-thumbnail {
    width: 100%;               
    aspect-ratio: 16 / 9;      
    object-fit: cover;
    border-radius: 12px;
}

.video-info {
   display: grid;
   grid-template-columns: 36px 1fr;
   gap: 12px;
   align-items: start;
   width: 100%;
   margin-top: 10px;
}

.channel-profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    grid-column: 1;
    object-fit: cover;
}

.video-details {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    gap: 4px;
    min-width: 0;
    color: #f1f1f1;
}

.video-details p {
    color: #aaaaaa;
    display: inline-flex;
    gap: 4px;
}


/* Shorts-section */
.shorts-title {
    display: flex;
    align-items: flex-start ;
    justify-content: flex-start;
    width: 100%;
    background-color: #0f0f0f;
    color: #f1f1f1;
}

.shorts-icon {
    width: 22px !important;
    height: 22px;
}

#shorts-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 12px;
    box-sizing: border-box;
    width: 100%;
}

.shorts-cards img {
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
    border-radius: 8px;
}   
.shorts-cards a {
    text-decoration: none;
    color: #f1f1f1;
}